* {
  border: none;
  border-radius: 0;
  font-family:
    Meslo LG M Regular Nerd Font,
    monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
}

#workspaces button {
}

#workspaces button.active {
  color: #9ccfd8;
}

#workspaces button.focused {
  color: #9ccfd8;
}

#workspaces button.urgent {
}

#workspaces button:hover {
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
}

#tray menu {
  background-color: #32302f;

  border: 1px solid #9ccfd8;

  color: #f5e0dc;

  font-size: 22px;

  padding: 4px;
}

#tray menu menuitem {
  padding-top: 3px;
  padding-bottom: 3px;

  font-size: 22px;
}

#tray menu menuitem:hover {
  background-color: #9ccfd8;
}

#workspaces {
}

#custom-caffeine {
}

#custom-language {
}

#custom-updates {
}

#window {
}

#clock {
}

#network {
}

#pulseaudio {
}

#pulseaudio.microphone {
}

#battery {
}

#custom-weather {
}

#custom-endright {
}
