name: Checks

on:
  pull_request:
  push:
    branches: [main, master]

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            accept-flake-config = true

      - name: Run flake checks
        run: nix flake check --print-build-logs
